@font-face {
  font-family: "ProbaPro-ExtraLight";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/ProbaPro-ExtraLight.woff2") format("woff2"), url("../fonts/ProbaPro-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "ProbaPro-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/ProbaPro-Light.woff2") format("woff2"), url("../fonts/ProbaPro-Light.woff") format("woff");
}
@font-face {
  font-family: "ProbaPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ProbaPro-Regular.woff2") format("woff2"), url("../fonts/ProbaPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "ProbaPro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/ProbaPro-Medium.woff2") format("woff2"), url("../fonts/ProbaPro-Medium.woff") format("woff");
}
@font-face {
  font-family: "ProbaPro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ProbaPro-Bold.woff2") format("woff2"), url("../fonts/ProbaPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}
.container {
  margin: 0 10px;
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    margin: 0 30px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1364px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .container--about {
    width: 100%;
    margin: 0;
  }
}
.page {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}
.page__body {
  position: relative;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  max-width: 1920px;
  min-height: 100%;
  margin: 0;
  font-family: "ProbaPro", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: #fefcfb;
  color: #000000;
  overflow-x: hidden;
}
.main {
  margin: 0;
  padding: 0;
}
.main__subtitle {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -0.04em;
}
.main__subtitle::before {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 95.30791789%;
  height: 2px;
  background-color: #e3405e;
}
@media (min-width: 768px) {
  .main__subtitle {
    font-size: 55px;
    line-height: 55px;
  }
}
.main__subtitle--about {
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .main__subtitle--about {
    margin-bottom: 78px;
  }
}
.main__subtitle--objects {
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .main__subtitle--objects {
    margin-bottom: 72px;
  }
}
.button {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "ProbaPro", "Arial", sans-serif;
  color: #000000;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  transition: 0.3s ease;
}
.button__tab-wrapper {
  margin-bottom: 52px;
}
@media (min-width: 768px) {
  .button__tab-wrapper {
    margin-bottom: 92px;
  }
}
.button__tab-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .button__tab-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1400px) {
  .button__tab-container {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
.button__tab {
  position: relative;
  display: inline-block;
  padding: 0 0 0 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #161b27;
  border-radius: 0;
  z-index: 1;
}
.button__tab::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 38px;
  height: 38px;
  background-color: #e3e2e7;
  border-radius: 60px;
  transition: width 0.3s ease;
  z-index: -1;
}
.button__tab:hover::after {
  width: calc(100% + 10px);
}
@media (min-width: 768px) {
  .button__tab {
    padding-left: 20px;
  }
  .button__tab::after {
    width: 40px;
    height: 40px;
  }
  .button__tab:hover::after {
    width: calc(100% + 20px);
  }
}
.button__tab--active::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 10px;
  width: 26px;
  height: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  color: #efeef3;
  transition: width 275ms ease;
  z-index: 100;
}
.button__tab--active::after {
  background-color: #cc123b;
}
.button__tab--active:hover::before {
  width: calc(100% - 10px);
  left: 10px;
}
@media (min-width: 768px) {
  .button__tab--active::before {
    left: 20px;
    width: 18px;
  }
  .button__tab--active:hover::before {
    width: calc(100% - 20px);
    left: 20px;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.75);
}
@media (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
@media (min-width: 1400px) {
  .header {
    padding: 11px 0 12px 0;
  }
}
.header__fixed {
  background-color: #ffffff;
  box-shadow: 0 1px 10px 1px #bbc1d2;
  z-index: 5000;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  width: 100px;
  height: 26px;
  margin-right: auto;
}
@media (min-width: 768px) {
  .header__logo {
    order: 1;
    width: 199px;
    height: 72px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1400px) {
  .header__logo {
    margin-right: 34px;
    margin-bottom: 0;
  }
}
.contacts {
  display: flex;
  justify-content: space-between;
  min-width: 132px;
  padding-right: 60px;
}
@media (min-width: 768px) {
  .contacts {
    order: 3;
    gap: 23px;
    flex-grow: 1;
    padding-right: 0;
  }
}
@media (min-width: 1400px) {
  .contacts {
    justify-content: normal;
  }
}
.contacts__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.contacts__address {
  display: none;
}
@media (min-width: 768px) {
  .contacts__address {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .contacts__phone {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .contacts__phone-2 {
    display: none;
  }
}
.contacts__text {
  display: none;
  font-size: 0;
  line-height: 0;
}
@media (min-width: 768px) {
  .contacts__text {
    display: block;
    font-size: 14px;
    line-height: 20px;
  }
}
.contacts__text--address {
  font-style: normal;
}
.contacts__text--mail {
  position: relative;
  color: #cc123b;
}
.contacts__text--mail::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cc123b;
}
.contacts__text--phone {
  font-weight: 700;
  color: #000000;
}
.contacts__link {
  position: relative;
  display: inline-block;
}
@media (min-width: 768px) {
  .contacts__link--number::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    width: 0;
    height: 0;
    background-color: #cc123b;
    transition: 0.4s ease;
  }
  .contacts__link--number:hover::before,
  .contacts__link--number:focus::before {
    width: 99%;
    height: 1px;
  }
}
.contacts__icon {
  width: 24px;
  height: 24px;
  transition: 0.3s ease;
}
.contacts__icon:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .contacts__icon {
    display: none;
  }
}
.main-nav {
  position: relative;
  flex-grow: 1;
  order: 3;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: 0.7s ease;
}
@media (min-width: 768px) {
  .main-nav {
    order: 2;
    width: 60%;
    padding: 0;
    margin: 0 0 30px 0;
  }
}
@media (min-width: 1400px) {
  .main-nav {
    flex-grow: 0;
    max-width: 567px;
    margin-right: 61px;
    margin-bottom: 0;
  }
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  transition: visibility 0.7s ease, opacity 0.7s ease;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media (min-width: 1400px) {
  .main-nav__list {
    justify-content: normal;
  }
}
.main-nav__item {
  transition: all 0.7s ease;
}
@media (min-width: 768px) {
  .main-nav__item {
    margin-right: 0;
  }
}
@media (min-width: 1400px) {
  .main-nav__item {
    margin-right: 42px;
  }
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__menu-item-open {
  visibility: visible;
  height: auto;
  padding: 10px 0;
  transform: translateX(0);
  transition: 0.7s ease;
}
.main-nav__link {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  transition: 0.4s ease;
  letter-spacing: 0.06em;
}
.main-nav__link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: auto;
  width: 0;
  height: 0;
  background-color: #cc123b;
  transition: 0.4s ease;
}
.main-nav__link:hover::before,
.main-nav__link:focus::before {
  width: 98%;
  height: 1px;
}
.main-nav__link:active {
  opacity: 0.7;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1400px) {
  .main-nav__link {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
  }
}
.main-nav__button-toggle {
  position: absolute;
  top: -30px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  transition: 0.4s ease;
}
.main-nav__button-toggle::before,
.main-nav__button-toggle::after {
  content: "";
  position: absolute;
}
.main-nav__button-toggle:hover,
.main-nav__button-toggle:focus {
  transform: none;
}
@media (min-width: 768px) {
  .main-nav__button-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-nav.main-nav--closed {
    margin: 0;
    padding: 0;
  }
  .main-nav--closed .main-nav__button-toggle::before {
    top: 12px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 -6px #000000, 0 6px #000000;
    transition: all 0.4s ease;
  }
  .main-nav--opened .main-nav__button-toggle {
    top: -30px;
  }
  .main-nav--opened .main-nav__button-toggle::before,
  .main-nav--opened .main-nav__button-toggle::after {
    top: 12px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    transition: all 0.4s ease;
  }
  .main-nav--opened .main-nav__button-toggle::before {
    transform: rotate(45deg);
  }
  .main-nav--opened .main-nav__button-toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav--closed .main-nav__list {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 0.7s ease;
  }
  .main-nav--opened .main-nav__list {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all 0.7s ease;
    margin-bottom: 20px;
  }
  .main-nav--closed .main-nav__item:nth-child(1) {
    transform: translateX(-100px);
  }
  .main-nav--closed .main-nav__item:nth-child(2) {
    transform: translateX(-80px);
  }
  .main-nav--closed .main-nav__item:nth-child(3) {
    transform: translateX(80px);
  }
  .main-nav--closed .main-nav__item:nth-child(n+4) {
    transform: translateX(100px);
  }
  .main-nav--closed .main-nav__link {
    opacity: 0.2;
    transition: 0.6s ease;
  }
  .main-nav--opened .main-nav__link {
    opacity: 1;
    transition: 0.6s ease;
  }
}
.slick-list {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}
.slick-track {
  display: flex;
  flex-wrap: nowrap;
}
.slick-1 .slick-track {
  min-height: 375px;
}
@media (min-width: 768px) {
  .slick-1 .slick-track {
    min-height: 468px;
  }
}
.slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23CC123B'/%3E%3Cpath d='M23 12L15 20L23 28' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  z-index: 10;
}
.slick-1 .slick-arrow {
  bottom: 15px;
  right: 124px;
}
.slick-1 .slick-prev {
  right: 84px;
}
.slick-1 .slick-next {
  right: 21px;
  transform: rotate(180deg);
}
.slick-min .slick-arrow {
  top: 42%;
}
.slick-min .slick-prev {
  left: 30px;
}
.slick-min .slick-next {
  right: 30px;
  transform: rotate(180deg);
}
.promo {
  margin: 0;
  padding: 72px 0 20px 0;
  background-image: url("../img/mobile/promo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}
@media (min-width: 768px) {
  .promo {
    padding-top: 203px;
    background-image: url("../img/tablet/promo-bg.jpg");
  }
}
@media (min-width: 1400px) {
  .promo {
    margin-bottom: 44px;
    padding-top: 114px;
    padding-bottom: 0;
    background-position: center top;
  }
}
.promo__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 1400px) {
  .promo__container {
    row-gap: 54px;
  }
}
.promo__description {
  margin: 0 0 34px;
  padding: 0 30px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo__description {
    margin-bottom: 64px;
  }
}
@media (min-width: 1400px) {
  .promo__description {
    max-width: 190px;
    padding: 0;
  }
}
.promo__title {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #ffffff;
}
.promo__title-text {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
@media (min-width: 768px) {
  .promo__title-text {
    font-size: 26px;
    line-height: 26px;
  }
}
.promo__title-main {
  margin-bottom: 10px;
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .promo__title-main {
    font-size: 78px;
    line-height: 78px;
  }
}
.promo__title-small {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .promo__title-small {
    font-size: 30px;
    line-height: 30px;
  }
}
.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}
.promo__list-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 9px 12px 13px 8px;
  background-color: rgba(8, 27, 52, 0.78);
}
@media (min-width: 768px) {
  .promo__list-advantages {
    padding: 29px 32px 33px 28px;
  }
}
@media (min-width: 1400px) {
  .promo__list-advantages {
    -moz-column-gap: 54px;
         column-gap: 54px;
    margin-top: 75px;
    margin-bottom: auto;
  }
}
.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo__item {
  position: relative;
  margin: 0;
  padding: 0 0 0 15px;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}
.promo__item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #cc123b;
  border-radius: 50px;
}
@media (min-width: 768px) {
  .promo__item {
    font-size: 16px;
    line-height: 36px;
  }
  .promo__item::before {
    width: 8px;
    height: 8px;
    top: 14px;
  }
}
.promo__link-object {
  position: relative;
  display: inline-block;
  width: 146px;
  min-height: 146px;
  padding: 40px 20px 20px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #efeef3;
  text-align: center;
  background-color: #cc123b;
  border-radius: 50%;
  transition: 0.4s ease;
}
.promo__link-object::before {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 40%;
  width: 26px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='14' viewBox='0 0 26 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L13 13L25 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transition: 0.4s ease;
}
.promo__link-object:hover {
  transform: scale(1.05);
}
.promo__link-object:hover::before {
  bottom: 20px;
}
@media (min-width: 768px) {
  .promo__link-object {
    padding: 42px 20px 51px 21px;
    margin-bottom: auto;
  }
}
.promo__advantages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
@media (min-width: 1400px) {
  .promo__advantages {
    margin-bottom: -44px;
  }
}
.promo__advantages-card--1 {
  background: linear-gradient(180deg, rgba(253, 251, 250, 0.92) 46.61%, rgba(253, 251, 250, 0) 72.5%), url("../img/mobile/promo-advantages-card-1.jpg");
}
@media (min-width: 768px) {
  .promo__advantages-card--1 {
    background: linear-gradient(180deg, rgba(253, 251, 250, 0.92) 46.61%, rgba(253, 251, 250, 0) 72.5%), url("../img/tablet/promo-advantages-card-1.jpg");
  }
}
.promo__advantages-card--2 {
  background: linear-gradient(180deg, rgba(253, 251, 250, 0.92) 46.61%, rgba(253, 251, 250, 0) 72.5%), url("../img/mobile/promo-advantages-card-2.jpg");
}
@media (min-width: 768px) {
  .promo__advantages-card--2 {
    background: linear-gradient(180deg, rgba(253, 251, 250, 0.92) 46.61%, rgba(253, 251, 250, 0) 72.5%), url("../img/tablet/promo-advantages-card-2.jpg");
  }
}
.promo__advantages-card--3 {
  background: linear-gradient(180deg, rgba(253, 251, 250, 0.92) 46.61%, rgba(253, 251, 250, 0) 72.5%), url("../img/mobile/promo-advantages-card-3.jpg");
}
@media (min-width: 768px) {
  .promo__advantages-card--3 {
    background: linear-gradient(180deg, rgba(253, 251, 250, 0.92) 46.61%, rgba(253, 251, 250, 0) 72.5%), url("../img/tablet/promo-advantages-card-3.jpg");
  }
}
.promo__advantages-card {
  margin: 0;
  padding: 26px 15px 147px 27px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .promo__advantages-card {
    padding: 46px 35px 147px 57px;
  }
}
.promo__advantages-card:hover {
  box-shadow: 1px 1px 20px 3px #0e5fc4;
  transform: scale(1.01);
}
.promo__advantages-title {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
}
.promo__advantages-title-text--color {
  color: #cc123b;
}
.promo__advantages-text {
  margin: 0 0 22px 0;
  padding: 0;
  font-size: 15px;
  line-height: 22px;
}
.promo__advantages-link {
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #cc123b;
  transition: 0.3s ease;
}
.promo__advantages-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cc123b;
}
.promo__advantages-link:hover {
  color: #0e5fc4;
}
.promo__advantages-link:hover::before {
  background-color: #0e5fc4;
}
.about {
  margin: 0;
  padding: 40px 0 0 0;
}
@media (min-width: 768px) {
  .about {
    padding-top: 70px;
  }
}
.about__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: stretch;
  gap: 40px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .about__list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media (min-width: 1400px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.about__item {
  position: relative;
  transition: 0.4s ease;
}
@media (min-width: 1400px) {
  .about__item {
    counter-increment: num;
    flex-grow: 1;
  }
  .about__item::before {
    content: counter(num) " ";
    position: absolute;
    top: 0;
    left: -39px;
    width: 427.99px;
    height: 410px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 350px;
    line-height: 410px;
    letter-spacing: -0.05em;
    color: #ffffff;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1400px) {
  .about__item:hover {
    background-color: #e3e2e7;
    transform: translateX(20px);
  }
}
@media (min-width: 1400px) {
  .about__item:nth-child(-n+9)::before {
    content: "0" counter(num);
  }
}
@media (min-width: 1400px) {
  .about__item:nth-child(even)::before {
    left: 36.40625%;
  }
}
.about__item:nth-child(even) .about__inner {
  flex-direction: row-reverse;
}
@media (min-width: 1400px) {
  .about__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.about__title {
  min-height: 32px;
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .about__title {
    min-height: 72px;
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 24px;
  }
}
.about__description {
  margin: 0 0 29px 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  min-height: 63px;
}
@media (min-width: 768px) {
  .about__description {
    margin-bottom: 30px;
  }
}
.about__text {
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .about__text {
    max-width: 831px;
    margin-top: 60px;
    padding-left: 21.09375%;
    z-index: 10;
  }
}
.about__link-wrapper {
  display: inline-block;
}
.about__link {
  position: relative;
  display: inline-block;
  padding: 0 6px 0 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #0e5fc4;
  z-index: 50;
}
.about__link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 22px;
  width: 22px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #efeef3;
  transition: width 0.3s ease;
  z-index: 100;
}
.about__link::after {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 44px;
  height: 44px;
  background-color: #0e5fc4;
  border-radius: 60px;
  transition: width 0.3s ease;
  z-index: 1;
}
.about__link:hover::before {
  width: 100%;
  height: 32px;
}
.about__link:hover::after {
  width: calc(100% + 38px);
}
@media (min-width: 768px) {
  .about__link {
    padding-left: 36px;
    font-size: 16px;
    line-height: 16px;
  }
  .about__link::before {
    left: 36px;
    width: 32px;
  }
  .about__link::after {
    top: -24px;
    width: 64px;
    height: 64px;
  }
}
.about__link-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 9px;
  z-index: 200;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.71527H14M14 4.71527L9.91667 1.52466M14 4.71527L9.91667 7.90588' stroke='%230E5FC4' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-size: cover;
  transition-delay: 0.3s;
}
.about__link:hover + .about__link-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.71527H14M14 4.71527L9.91667 1.52466M14 4.71527L9.91667 7.90588' stroke='%23ffffff' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}
.about__img-container {
  position: relative;
}
@media (min-width: 1400px) {
  .about__img-container::before {
    content: "";
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 537px;
    height: 291px;
    background-image: url("../img/tablet/about-img-mask.svg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 5;
  }
}
@media (min-width: 1400px) {
  .about__item:nth-child(even) .about__img-container::before {
    transform: scale(-1, 1);
    left: 0;
  }
}
.about__img-wrapper {
  position: relative;
  height: 216px;
}
@media (min-width: 768px) {
  .about__img-wrapper {
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .about__img-wrapper {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
    /*&::before {
      content: "";
      position: absolute;
      bottom: -40px;
      right: 0;
      width: 537px;
      height: 291px;
      background-image: url("../img/tablet/about-img-mask.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }*/
  }
  .about__img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .about__item:nth-child(even) .about__img-wrapper {
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  }
}
/*.about__item:nth-child(even) .about__img-wrapper::before {
  @media (min-width: @desktop-width) {
    transform: scale(-1, 1);
    left: 0;
  }
}*/
.about__img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .about__img {
    width: 829px;
    height: 329px;
  }
}
.objects {
  margin: 0;
  padding: 40px 0 60px 0;
  background-image: url("../img/mobile/objects-apartment-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .objects {
    padding: 110px 0 0 0;
  }
}
@media (min-width: 1400px) {
  .objects {
    background-image: url("../img/tablet/objects-bg-all.jpg");
    background-size: contain;
    background-position: left center;
  }
}
@media (min-width: 768px) {
  .objects__container {
    margin-bottom: 90px;
  }
}
.objects__slider {
  position: relative;
}
@media (min-width: 768px) {
  .objects__slider {
    max-width: 1165px;
    margin: 0 auto;
  }
}
.objects__card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
@media (min-width: 768px) {
  .objects__card-container {
    grid-template-columns: minmax(-webkit-min-content, 584px) minmax(300px, 674px);
    grid-template-columns: minmax(min-content, 584px) minmax(300px, 674px);
    align-items: center;
    gap: 0;
  }
}
.objects__card {
  position: relative;
  margin: 0;
  padding: 39px 20px 37px 25px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .objects__card {
    margin-right: -95px;
    z-index: 2;
  }
}
@media (min-width: 1400px) {
  .objects__card {
    padding: 69px 40px 77px 55px;
  }
}
.objects__card-title {
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .objects__card-title {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 24px;
  }
}
.object__address {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}
@media (min-width: 768px) {
  .object__address {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 20px;
  }
}
.objects__card-wrapper {
  margin: 0 0 21px 0;
  padding: 0;
}
.objects__card-wrapper:last-of-type {
  margin-bottom: 0;
}
.objects__card-subtitle {
  margin: 0 0 21px 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.objects__card-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}
.objects__img-wrapper {
  height: 375px;
}
@media (min-width: 768px) {
  .objects__img-wrapper {
    height: 468px;
  }
}
.objects__slider-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.objects__slider-2 {
  display: none;
}
@media (min-width: 768px) {
  .objects__slider-2 {
    display: block;
    position: relative;
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .objects__slider-2 {
    width: 1152px;
  }
}
@media (min-width: 1920px) {
  .objects__slider-2 {
    width: 1920px;
  }
}
.objects__slider-2-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .objects__slider-2-wrapper {
    position: relative;
    display: flex;
    height: 200px;
  }
}
@media (min-width: 1400px) {
  .objects__slider-2-wrapper {
    width: 384px;
  }
}
@media (min-width: 768px) {
  .object__slider-img--line {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-width: 0;
    filter: brightness(50%);
  }
}
.objects__slider-2-link {
  position: absolute;
  display: inline-block;
  top: 94px;
  left: 129px;
  min-width: 0;
  padding: 0 20px 0 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #efeef3;
  transition: 0.3s ease;
  z-index: 5;
}
.objects__slider-2-link::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.3s ease;
  z-index: -1;
}
.objects__slider-2-link::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 16px;
  height: 9px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.71527H14M14 4.71527L9.91667 1.52466M14 4.71527L9.91667 7.90588' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transition: 0.3s ease;
}
.objects__slider-2-link:hover {
  color: #cc123b;
}
.objects__slider-2-link:hover::before {
  width: calc(100% + 17px);
  background-color: rgba(255, 255, 255, 0.75);
}
.objects__slider-2-link:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.71527H14M14 4.71527L9.91667 1.52466M14 4.71527L9.91667 7.90588' stroke='%23cc123b' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}

/*# sourceMappingURL=style.css.map */
