.slick-slider {
  position: relative;
}

.slick-list {
  width: 100%;
  overflow-x: hidden;
}

.slick-track {
  display: flex;
  flex-wrap: nowrap;
}

.slick-objects .slick-track {
  width: 100%;
  min-height: 375px;

  @media (min-width: @tablet-width) {
    min-height: 468px;
  }
}

.slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23CC123B'/%3E%3Cpath d='M23 12L15 20L23 28' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  z-index: 10;

  &:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
  }
}

.slick-next {
  transform: rotate(180deg);

  &:hover {
    transform: rotate(180deg) scale(1.05);
  }
}

.slick-objects .slick-arrow {
  bottom: 15px;
  right: 124px;
}

.slick-objects .slick-prev {
  right: 84px;
}

.slick-objects .slick-next {
  right: 21px;
}

.slick-min .slick-arrow {
  top: 42%;
}

.slick-min .slick-disabled {
  opacity: 0.7;
}

.slick-min .slick-prev {
  left: 30px;
}

.slick-min .slick-next {
  right: 30px;
}

.slick-partners .slick-arrow {
  bottom: -10px;

  @media (min-width: @tablet-width) {
    top: -132px;
    right: 0;
  }
}

.slick-partners .slick-prev {
  right: 61px;
}

.slick-partners .slick-next {
  right: 0;
}

.slick-doc {
  @media (max-width: @mobile-width-only) {
    max-width: 292px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.slick-doc .slick-arrow {
  right: 0;
  bottom: -40px;
}

.slick-doc .slick-prev {
  right: 61px;
}

.slick-doc .slick-next {
  right: 0;
}
